
.navigationmenu {
	width: 100%;
	height: 100vh;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	.menuoptions {
		width: 100%;
		height: 94vh;
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.menuoption {
			height: 30px;
			width: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 15px;
			transition: .3s ease;
			&:hover {
				border-bottom: 3px solid black;
			}
			h3 {
				margin: 0;
			}
			.active {

			}
		}

	}
}

.navbarRest{
	width: 100%;
	height: 6vh;
	min-height: 40px;
	color: black;
	letter-spacing: 3px;
	display: none;
	i {
		cursor: pointer;
	}
}
.navbarMenu{
	width: 100%;
	height: 6vh;
	min-height: 40px;
	color: black;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
  	justify-content: space-between;
	position: fixed;
	background-color: white;
	i {
		margin: 30px;	
	}
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
	#toggleMenuOff {
		cursor: pointer;
	}

}

@media screen and (max-width: 800px) {
	.navbarRest {
	  	display:flex;
	  	align-items: center;
	  	justify-content: space-between;
		position: fixed;
		background-color: white;
		i {
			margin: 30px;	
		}
		a {
			text-decoration: none;
			color: black;
			&:hover {
				text-decoration: none;
				color: black;
			}
		}
	}
}
