<div class="navigationmenu hidden">
	<div class="navbarMenu">
		<%= link_to "https://www.instagram.com/ralphmonet/" do %>
			<i class="fab fa-instagram"></i>
		<% end %>
		<p id="toggleMenuOff">
			CLOSE<i class="fas fa-times"></i>
		</p>
	</div>
	<div class="menuoptions">
		<div class="menuoption">
			<h3><strong>photo album1</strong></h3>
		</div>
		<div class="menuoption">
			<h3>photo album2</h3>
		</div>
		<div class="menuoption">
			<h3>photo album3</h3>
		</div>
		<div class="menuoption">
			<h3>photo album4</h3>
		</div>
		<div class="menuoption">
			<h3>photo album5</h3>
		</div>

	</div>
</div>