// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	margin: 0;
}
.hidden {
	display: none
}
.navigationmenu {
	width: 100%;
	height: 100vh;
	color: black;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	.menuoptions {
		width: 100%;
		height: 94vh;
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.menuoption {
			height: 30px;
			width: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 15px;
			transition: .3s ease;
			&:hover {
				border-bottom: 3px solid black;
			}
			h3 {
				margin: 0;
			}
			.active {

			}
		}

	}
}

.navbarRest{
	width: 100%;
	height: 6vh;
	min-height: 40px;
	color: black;
	letter-spacing: 3px;
	display: none;
}
.navbarMenu{
	width: 100%;
	height: 6vh;
	min-height: 40px;
	color: black;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	  	justify-content: space-between;
		position: fixed;
		background-color: white;
		i {
			margin: 30px;	
		}
		a {
			text-decoration: none;
			color: black;
			&:hover {
				text-decoration: none;
				color: black;
			}
		}
}

.restofpage {
	overflow: scroll;
}
.pagecontent {
	width: 100%;
	height: 100vh;
	padding: 2px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	
}

.leftcolumn {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	.leftTitle {
		margin-bottom: 30px;
	}
	.leftFooter {
		margin-top: 30px;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
.rightcolumn {
	margin-left: 20%;
	min-margin-left: 200px;
	width: 80%;
	column-count: 3;
	padding: 10px;
	img {
		width: 100%;
		margin-top: 8px;
	}

}

.photocolumn1, .photocolumn2, .photocolumn3 {
	flex: 1 0 30%;
	min-width: 370px;
	margin: 0 3px;
	img {
		width: 100%;
		margin: 3px 0;
	}
}

@media screen and (max-width: 1400px) {
	.rightcolumn {
	  	column-count: 2;
	  }
}
@media screen and (max-width: 800px) {
  .leftcolumn {
    display:none;
  }
  .rightcolumn {
  	margin-left: 0;
  	width: 100%;
  	column-count: 1;
  }

	.navbarRest {
	  	display:flex;
	  	align-items: center;
	  	justify-content: space-between;
		position: fixed;
		background-color: white;
		i {
			margin: 30px;	
		}
		a {
			text-decoration: none;
			color: black;
			&:hover {
				text-decoration: none;
				color: black;
			}
		}
	}
  
}